Host *

UserKnownHostsFile C:\Users\ethanhs\.ssh\known_hosts

Host thewatch
    HostName ssh.ethanhs.me
    User ethan
    IdentityFile C:\Users\ethanhs\.ssh\id_rsa

Host thewatcht
    HostName ssh.ethanhs.me
    User ethan
    RequestTTY yes
    RemoteCommand tmux a

Host rdp
    HostName ssh.ethanhs.me
    User ethan
    RemoteForward 3389 localhost:3389
    ServerAliveInterval 2400
    ServerAliveCountMax 100

Host tunnel
    HostName ssh.ethanhs.me
    User ethan
    LocalForward 5900 127.0.0.1:5900
    LocalForward 8112 127.0.0.1:8112
    LocalForward 8385 127.0.0.1:8384
    LocalForward 8096 127.0.0.1:8096
    LocalForward 25565 127.0.0.1:25565
    LocalForward 19999 127.0.0.1:19999

Host panic
    HostName panic.ocf.berkeley.edu
    User ethanhs

Host y2k
    HostName y2k
    User ethanhs
    ProxyJump supernova

Host supernova
    HostName supernova.ocf.berkeley.edu
    User ethanhs

Host minecraftOCF
    HostName supernova.ocf.berkeley.edu
    LocalForward 25565 zombies:25565

Host lightning
    HostName lightning
    ProxyJump panic
